<h3>以下の内容で、投稿する。</h3>

<%= form_with(model: @home, url: homes_path, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <p>本文:<%= @home.content %></p>
  <%= form.submit  "投稿する" %>
<% end %>
