<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <title>CloneSNS</title>
  </head>
  <body>
    <header>
      <h1>CloneSNS</h1>
      <p>投稿編集画面</p>
    </header>
<%= render 'form' %>
</body>
</html>
