<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <title>CloneSNS</title>
  </head>
  <body>
    <header>
      <div class="transparent">
        <h1>CloneSNS</h1>
        <p>投稿編集画面</p>
      </div>
    </header>
    <div class="edit_container">
      <%= render 'form' %>
    </div>
  </body>
</html>
