<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <title>CloneSNS</title>
  </head>
  <body>
    <header>
      <div class="transparent">
        <h1>CloneSNS</h1>
        <p>新規投稿画面</p>
      </div>
    </header>
    <div class="container">
      <div class="new-content">
        <%= render 'form' %>
      </div>
    </div>
    <footer>
      <p>Since 2019</p>
    </footer>
  </body>
</html>
