<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../app/assets/stylesheets/stylesheet.css">
    <link rel="stylesheet" href="../app/assets/stylesheets/normalize.css">
    <link rel="stylesheet" href="../app/assets/stylesheets/form.css">
    <title>CloneSNS</title>
  </head>
  <body>
    <header>
      <h1>CloneSNS</h1>
      <p>投稿詳細画面</p>
    </header>
    <div class="container">
      <div class="show-content">
      <p class="title">内容</p>
      <p class="post"> <%= @home.content %></p>
      <%= link_to "投稿一覧画面に戻る", homes_path %>
      </div>
    </div>
    <footer>
      <p>Since 2019</p>
    </footer>
  </body>
</html>
