<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <title>CloneSNS</title>
  </head>
  <body>
    <header>
      <h1>CloneSNS</h1>
      <p>投稿詳細画面</p>
    </header>
    <div class="show_container">
      <p>内容: <%= @home.content %></p>
    </div>
  </body>
</html>
